.dark-background {
    -fx-background-color: #222222;
}

.scroll-pane {
     -fx-background: #222222;
     -fx-border-color: #222222;
}

.border-bottom {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #676767;
}

.tab-pane {
    -fx-tab-max-height: 0 ;
}
.tab-pane .tab-header-area {
    visibility: hidden ;
}

.bottom {
    -fx-background-color: #1C90E4;
    -fx-background-radius: 50;
}

.cursor{
    -fx-cursor: hand;
}

.gradient {
    -fx-background-color: linear-gradient(to top, #222222, transparent);
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 10)
}

.transparent{
    -fx-background-color: rgba(0, 0, 0, 0);
}

.input {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #898989;
}

.radius {
    -fx-background-radius: 30;
}